<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Audio Manager needs audio capture access so it can control the volume of individual apps.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Audio Manager needs audio capture access so it can control the volume of individual apps.</string>
</dict>
</plist>
